patients.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/patients"
           xmlns="http://example.org/patients"
           elementFormDefault="qualified">

  <xs:element name="patients">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="patient" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
              <xs:element name="nom" type="xs:string"/>
              <xs:element name="prenom" type="xs:string" minOccurs="0"/>
              <xs:element name="dateNaissance" type="xs:date" minOccurs="0"/>
              <xs:element name="sexe" type="xs:string" minOccurs="0"/>
              <xs:element name="groupeSanguin" type="xs:string" minOccurs="0"/>
              <xs:element name="allergies" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="allergie" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
