personnel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/personnel"
           xmlns="http://example.org/personnel"
           elementFormDefault="qualified">

  <xs:element name="personnel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employe" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
              <xs:element name="nom" type="xs:string"/>
              <xs:element name="prenom" type="xs:string" minOccurs="0"/>
              <xs:element name="matricule" type="xs:string" minOccurs="0"/>
              <xs:element name="specialite" type="xs:string" minOccurs="0"/>
              <xs:element name="service" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
